<script type="text/javascript">
</script>

<%= form_for :schedule, url: schedules_path, method: :post, class: 'form-horizontal form-validate' do |f| %>
    <div class="control-group">
      <%= f.label :name  %>

      <div class="controls">
        <%= f.text_field :name, class: 'input-large required' %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit "Generate Schedule", class: "btn btn-primary" %>
      </div>
    </div>

<% end %>