<% content_for :masthead do %>
    <h2>Schedules</h2>

    <p>To create a schedule, first specify a name. Then switch over to the 'Courses' tab and select
      the courses you wish to include in the schedule. When you're all done, hit the 'Generate Schedule' button.</p>
<% end %>

<% content_for :content do %>
    <%= render partial: 'schedules/form' %>
<% end %>