<%= form_for :course, class: 'form-horizontal form-validate' do |f| %>
  <% if @course.present? and @course.errors.any? %>
    <div id="alert alert-danger">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
