<div id="footer">
  <div class="container">
    <div class="row">
      <div class="span6">
        © <%= DateTime.now.stamp("2014") %> <%= link_to "Spark Innovations", "http://sparkinnovate.co" %>, all rights reserved.
      </div>
      <div id="builtby" class="span6">
        <a href="http://sparkinnovate.co">Built by Spark Innovations.</a>
      </div>
    </div>
  </div>
</div>